body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #ff6699, #ffccff); /* Update with your preferred gradient colors */
    animation: gradientAnimation 2s infinite alternate; /* Animation properties */
}

@keyframes gradientAnimation {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: 100% 100%;
    }
}

.card-container {
    text-align: center;
}

.card {
    background-color: #ffcccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #e60000;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.buttons {
    margin-top: 20px;
}

button {
    background-color: #e60000;
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
